{% extends 'hod_template/base_template.html' %}

{% block page_title %}Add Subject{% endblock page_title %}

{% block main_content %}
{% load static %}

<section class="content">
    <div class="container-fluid">
        <a class="btn btn-primary" href="{% url 'add_subject' %}" role="button">+ Add Subject</a>
        <br/><br/>
        {% if messages %}
            <div class="form-group">
                <div class="col-12">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Subject</h3>
            </div>
            <form method="POST" action="{% url 'add_subject_save' %}">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="subjectName">Subject Name</label>
                        <input type="text" class="form-control" id="subjectName" name="subject" placeholder="Enter Subject Name" required>
                    </div>
                    <div class="form-group">
                        <label for="classSelect">Class</label>
                        <select class="form-control" id="classSelect" name="class" required>
                            {% for single_class in classes %}
                                <option value="{{ single_class.id }}" data-level="{{ single_class.level }}">{{ single_class.class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" id="subclass-select-wrapper" style="display: none;">
                        <label for="subclassSelect">Subclass</label>
                        <select class="form-control" id="subclassSelect" name="subclass">
                            <!-- Subclass options will be loaded here based on the selected class -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="staffSelect">Staff</label>
                        <select class="form-control" id="staffSelect" name="staff" required>
                            {% for staff in staffs %}
                                <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Add Subject</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock main_content %}

{% block custom_js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const classSelect = document.querySelector('#classSelect');
    const subclassSelectWrapper = document.querySelector('#subclass-select-wrapper');
    const subclassSelect = document.querySelector('#subclassSelect');

    classSelect.addEventListener('change', function() {
        const classId = this.value;
        const classLevel = this.options[this.selectedIndex].getAttribute('data-level');
        subclassSelect.innerHTML = ''; // Clear current options
        subclassSelectWrapper.style.display = (classLevel === 'Nursery') ? 'none' : 'block'; // Display control based on class level

        if (classLevel !== 'Nursery') {
            fetch(`/get-subclasses/${classId}/`)
            .then(response => response.json())
            .then(data => {
                data.forEach(subclass => {
                    let option = new Option(`${subclass.subclass_name} (${subclass.subclass_code})`, subclass.id);
                    subclassSelect.appendChild(option);
                });
                if (!data.length) {
                    subclassSelectWrapper.style.display = 'none';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                subclassSelectWrapper.style.display = 'none';
            });
        }
    });
});
</script>
{% endblock custom_js %}
