{% extends 'hod_template/base_template.html' %}

{% block page_title %}Add Subject{% endblock page_title %}

{% block main_content %}
{% load static %}

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add New Subject</h3>
                    </div>
                    <form role="form" method="POST" action="{% url 'add_subject' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ subject_form.as_p }}
                            {{ class_subject_form.as_p }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Add Subject</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#id_class_level').change(function() {
            var level = $(this).val();
            if (level) {
                $.ajax({
                    url: '{% url "get-classes-for-level" %}',
                    data: { level: level },
                    success: function(data) {
                        var classSelect = $('#id_class_id');
                        classSelect.empty();
                        classSelect.append('<option value="">Select Class</option>');
                        $.each(data.classes_options, function(index, option) {
                            classSelect.append('<option value="' + option.id + '">' + option.name + '</option>');
                        });
                        $('#classSelectGroup').show();
                        $('#subclassSelectGroup').hide();
                        $('#subjectTeacherGroup').hide();
                    }
                });
            } else {
                $('#classSelectGroup').hide();
                $('#subclassSelectGroup').hide();
                $('#subjectTeacherGroup').hide();
            }
        });

        $('#id_class_id').change(function() {
            var classId = $(this).val();
            if (classId) {
                $.ajax({
                    url: '{% url "get-subclasses-for-class" %}',
                    data: { class_id: classId },
                    success: function(data) {
                        var subclassSelect = $('#id_subclass_id');
                        subclassSelect.empty();
                        subclassSelect.append('<option value="">Select Subclass</option>');
                        $.each(data.subclasses_options, function(index, option) {
                            subclassSelect.append('<option value="' + option.id + '">' + option.name + '</option>');
                        });
                        if (data.subclasses_options.length > 0) {
                            $('#subclassSelectGroup').show();
                            $('#subjectTeacherGroup').hide();
                        } else {
                            $('#subclassSelectGroup').hide();
                            $('#subjectTeacherGroup').show();
                        }
                    }
                });

                $.ajax({
                    url: '{% url "check-subclass-existence" classId %}'.replace('classId', classId),
                    success: function(data) {
                        if (data.has_subclasses) {
                            $('#subjectTeacherGroup').hide();
                        } else {
                            $('#subjectTeacherGroup').show();
                        }
                    }
                });
            } else {
                $('#subclassSelectGroup').hide();
                $('#subjectTeacherGroup').hide();
            }
        });
    });
</script>

{% endblock main_content %}
