<!-- Inside add_session_template.html -->
{% extends 'hod_template/base_template.html' %}

{% block page_title %}Add Session Year{% endblock page_title %}

{% block main_content %}
{% load static %}
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Add Session Year</h3>
            </div>
            <form method="POST" action="{% url 'add_session_save' %}">
                {% csrf_token %}
                <div class="card-body">
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Add Session Year</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
