{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Manage Subclasses for {{ parent_class.class_name }}
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <!-- Link to add a new subclass -->
        <a class="btn btn-primary" href="{% url 'add_subclass' class_id=parent_class.id %}" role="button">Add Subclass</a>
        <br/>&nbsp;

        {% if messages %}
            <div class="form-group">
                <div class="col-12">
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <!-- Subclass list table -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Subclass Details</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Subclass Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subclass in subclasses %}
                                    <tr>
                                        <td>{{ subclass.id }}</td>
                                        <td>{{ subclass.subclass_name }} ({{ subclass.subclass_code }})</td>

                                        <td>
                                            <!-- Link to edit subclass -->
                                            <a href="{% url 'edit_subclass' subclass_id=subclass.id %}" class="btn btn-success">Edit</a>
                                            <!-- Link to delete subclass -->
                                            <a href="{% url 'delete_subclass' subclass.id %}" hx-target="#subclass-list" hx-swap="outerHTML" class="btn btn-danger">Delete</a>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}
